html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #000;
  overflow: hidden;
}

body {
  background: url("./images/landing-combat.png") no-repeat center center #000;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-size: contain;
}

#intro_content {
  display: none;
  text-align: center;
}
#intro_content .image-intro {
  width: 333px;
  margin-top: 200px;
}

#intro_content .iceo-logo {
  text-align: center;
  color: #ffffff;
  stroke: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  top: 10%;
  z-index: 999;
}

#intro_content #intro_count_down {
  color: #fff;
  font-size: 18px;
}

#intro_content #intro_count_down span {
  font-size: 26px;
  padding: 0px 10px;
  color: #fff;
  background-color: red;
}

#main_content {
  display: none;
  width: 100vw;
  height: 100vh;
  position: relative;
}

#firing_icon {
  display: block;
  background: url("./images/firing.gif") no-repeat center top;
  width: 50px;
  height: 75px;
  position: absolute;
  z-index: 9999;
  background-size: 111px 88px;
  top: -75px;
}

#firing_blue_icon {
  display: block;
  background: url("./images/firing_blue.gif") no-repeat center top;
  width: 50px;
  height: 75px;
  position: absolute;
  z-index: 9999;
  background-size: 26px 33px;
  top: -41px;
  right: 10px;
}

#game_deadline {
  position: absolute;
  z-index: 202;
  color: #fff;
  top: 60px;
  left: 12%;
  font-size: 18px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  padding: 5px;
  border-radius: 6px;
}

#progress_game_bar {
  position: absolute;
  left: 0;
  top: 121px;
  z-index: 998;
  color: #fff;
  width: 100%;
}

#progress_game_bar .finish_line {
  position: relative;
  display: flex;
  height: 27px;
  align-items: center;
}

#progress_game_bar .finish_line span#finish_line_text {
  position: relative;
  text-align: center;
  color: #000;
  z-index: 101;
  width: 100%;
  font-size: 0.9rem;
  height: 70%;
}

#progress_game_bar .finish_line span#finish_line_bar {
  position: absolute;
  display: inline-block;
  background-color: #ecebea;
  width: 100%;
  height: 70%;
  left: 0;
  top: 0;
  z-index: 100;
}

#progress_game_bar #boss_red {
  display: block;
  background: url("./images/wizard-red.gif") no-repeat center top;
  width: 100px;
  height: 125px;
  position: absolute;
  z-index: 9999;
  background-size: 115px 115px;
  bottom: -500px;
  left: 375px;
}
#progress_game_bar #boss_red_die {
  display: none;
  background: url("./images/wizard-red-die.png") no-repeat center top;
  width: 100px;
  height: 125px;
  position: absolute;
  z-index: 9999;
  background-size: 115px 115px;
  bottom: -500px;
  left: 375px;
}

#progress_game_bar #boss_red .heal_red {
  border: 1px solid #f5f2f2;
  border-radius: 20px;
  padding: 0 10px;
  text-align: center;
  min-width: 30%;
  position: relative;
  top: 115px;
}

#progress_game_bar #boss_red .heal_red span#span_heal_red_text {
  position: relative;
  z-index: 101;
  width: 70%;
  font-size: 1rem;
  height: 100%;
}
#progress_game_bar #boss_red .heal_red span#span_heal_red {
  position: absolute;
  border-radius: 20px;
  display: inline-block;
  background-color: #f44336;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}

#progress_game_bar #boss_blue {
  display: block;
  background: url("./images/wizard-blue.gif") no-repeat center top;
  width: 100px;
  height: 125px;
  position: absolute;
  z-index: 9999;
  background-size: 115px 115px;
  bottom: -500px;
  right: 375px;
}

#progress_game_bar #boss_blue_die {
  display: none;
  background: url("./images/wizard-blue-die.png") no-repeat center top;
  width: 100px;
  height: 125px;
  position: absolute;
  z-index: 9999;
  background-size: 115px 115px;
  bottom: -500px;
  right: 375px;
}

#progress_game_bar #boss_blue .heal_blue span#span_heal_blue_text {
  position: relative;
  z-index: 101;
  font-size: 1rem;
  width: 100%;
  height: 100%;
}
#progress_game_bar #boss_blue .heal_blue span#span_heal_blue {
  position: absolute;
  display: inline-block;
  background-color: #0109a9;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 100;
}
#progress_game_bar #boss_blue .heal_blue {
  border: 1px solid #f5f2f2;
  border-radius: 20px;
  padding: 0 10px;
  text-align: center;
  min-width: 30%;
  position: relative;
  top: 115px;
}

#rule_of_the_game {
  position: absolute;
  z-index: 999;
  color: #fff;
  bottom: 50px;
  font-size: 18px;
  padding: 15px;
}

#rule_of_the_game .rule span.redblock {
  background-color: #f44336;
  display: inline-block;
  width: 10px;
  height: 10px;
}

#rule_of_the_game .rule span.blueblock {
  background-color: #0109a9;
  display: inline-block;
  width: 10px;
  height: 10px;
}

.no-background {
  background: none !important;
}

.character_join {
  background: url("./images/skydiving-icon-white.png") no-repeat center top
    transparent;
  width: 60px;
  height: 80px;
  position: absolute;
  z-index: 100;
  top: 10px;
  background-size: 62px;
}

.character_join.blue_side img {
  border: 3px solid #95d1ff;
}

.character_join.hurt {
  z-index: 209;
}
.character_join.hurt img {
  border-color: #000 !important;
  border-width: 5px;
  animation: opacityChange 3s infinite alternate;
}

@keyframes opacityChange {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.character_join img {
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  bottom: 6px;
  z-index: 101;
  right: 8px;
  border: 3px solid #fc9393;
  display: block;
}

#game_over {
  display: none;
}

#game_over_icon {
  text-align: center;
}

#game_over_icon img {
  width: 240px;
  height: auto;
}

#game_over_congratulation {
  text-align: center;
  color: #ffffff;
  font-size: 22px;
}

#game_over_congratulation h3 {
  font-size: 3rem;
}

#game_over_congratulation div {
  background-color: #fff;
  color: #000;
  margin-top: -37px;
}

#game_over_congratulation ul {
  list-style: none;
  background: rgba(255, 255, 255, 0.8);
  color: red;
}

/* 
.firing_other {
    display: none;
    width: 18px;
    height: 18px;
    z-index: 102;
    position: absolute;
    background: url('images/snow-icon.png') no-repeat center center transparent;
    background-size: 18px 18px;
}

.firing_other.redside {
    background: url('images/firing-weapon.gif') no-repeat center center transparent;
    background-size: 55px 55px;
}  */

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: url("./images/firing-weapon.gif") no-repeat center center #f44336;
  position: absolute;
  display: block;
  z-index: 199;
}

.circle.blueside {
  background: url("./images/firing-blue-2.gif") no-repeat center center #4caf50;
}
