body {
    background-color: #6e00ff;
    color: #fff !important;
}

#wrap {
    padding: 15px;
}

#copyright {
    text-align: center;
    margin: 20px 0;
    font-size: 12px;
    color: #c1c1c1
}

.hero-bar {
    text-align: center;
    margin: 15px;
}
